<div id="<%= dom_id patient %>" class="my-2">
    <strong>Name:</strong>
    <%= patient.name %>

    <strong class="ms-5">Email:</strong>
    <%= patient.email %>

    <%= link_to "Show this patient", patient, class: "ms-5" %>
</div>
