<div class="m-5">
  <p style="color: green"><%= notice %></p>

  <h4>Patients</h4>
  <hr>

  <div id="patients" class="d-flex flex-column">
    <% @patients.each do |patient| %>
      <%= render patient %>
      <hr>
    <% end %>
  </div>
  
  <%= link_to "New patient", new_patient_path %>
</div>